@import "./variables";
html, body {
    height:100%;
    margin: 0;
    padding: 0;
  }
  #app {
      display: flex;
      flex-direction: column;
    padding: 2vmin;
    height: 100%;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: rgb(34,193,195);
  background: linear-gradient(162deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

  > svg {
      width: 10vmin;
      margin: 10vmin;
  }
  }
  
  h1 {
    font-weight: bold;
  }
  h1,
  h2 {
    font-size: 3vmin;
    padding: 0;
    color: white;
    margin: 3vmax;
    @include break-point($big){
        font-size: 5vmin;
      }
  }
  label {
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 2vmax 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: $white;
    text-decoration: none;
  }

  p{
    color: $white;
  }