
@import "./variables";

.clothes {
  background: $clothes;
  order:1;
}

.toilet {
  background: $toilet;
  order:2;
}

.electronics {
  background: $electronics;
  order: 3;
}

.paperwork {
  background: $papework;
  order: 3;
}

.packed {
  order: 5;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
}

li {
  background: $papework;
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;

  svg {
    padding: 0 10px;
  }
}

.packed {
  opacity: 0.5;
}


button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.5;
  &:hover{
    opacity: 1;
    transition: 0.3s;
  }
}
