
@import "./variables";

.clothes {
  background: $clothes;

}

.toilet {
  background: $toilet;
  
}

.electronics {
  background: $electronics;

}

.paperwork {
  background: $papework;
 
}

.packed {
  order: 5;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
}

li {
  background: $papework;
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;

  svg {
    padding: 0 10px;
  }
}

.packed {
  opacity: 0.5;
}

button {
  border: none;
  background: red;
  cursor: pointer;
  opacity: 0.5;
  &:hover{
    opacity: 1;
    transition: 0.3s;
  }
}

.users {
  display: flex;
justify-content: center;
&__lola {
  background-image: url('../assets/berta.jpg');
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-position:center;
  border-radius: 50px;
  border:1px solid $white;
  background-size: cover;
  opacity: 0.4;
}

&__hector {
  background-image: url('../assets/berto.jpg');
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-position: right;
  background-size: cover;
  border:1px solid $white;
  opacity: 0.4;
  position: absolute;
  left: 52%;
  &--active{
    opacity:1;
    z-index: 2;
  }
}
}

.seasons {
  display: flex;
justify-content: center;
&__summer {
  background-image: url('../assets/berta.jpg');
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-position:center;
  border-radius: 50px;
  border:1px solid $white;
  background-size: cover;
  opacity: 0.4;
}

&__winter{
  background-image: url('../assets/berto.jpg');
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-position: right;
  background-size: cover;
  border:1px solid $white;
  opacity: 0.4;
  position: absolute;
  left: 52%;
  &--active{
    opacity:1;
    z-index: 2;
  }
}
}

.active {
  opacity: 1;
  z-index: 2;
}