@import "./variables";

.clothes {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);

}

.toilet {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  
}

.electronics {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);

}

.paperwork {
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
 
}

.packed {
  order: 5;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
}

li {
  background: $papework;
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;

  svg {
    padding: 0 10px;
  }
}

.packed {
  opacity: 0.5;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.5;
  padding: 1vmin;
  &:hover{
    opacity: 1;
    transition: 0.3s ease;
  }
  i {
    color: $white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    font-size: 2vmin;
  }
}

.users {
display: flex;
justify-content: center;
margin: 2vmin;
&__lola {
  background-image: url('../assets/berta.jpg');
  background-repeat: no-repeat;
  height: 7vmin;
  width: 7vmin;
  background-position:center;
  border-radius: 10vmin;
  border: 1px solid $white;
  background-size: cover;
  opacity: 0.4;
  margin: 10px;
  @include break-point($big){
    height: 15vmin;
    width: 15vmin;
  }
}

&__hector {
  @extend .users__lola;
  background-image: url('../assets/berto.jpg');
}
}

.seasons {
  display: flex;
justify-content: center;
&__summer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vmin;
  width: 7vmin;
  border-radius: 10vmin;
  border:1px solid $white;
  opacity: 0.2;
  margin: 10px;
  @include break-point($big){
    height: 15vmin;
    width: 15vmin;
  }
  svg {
    width: 70%;
  }
}

&__winter{
 @extend .seasons__summer;
}
}

.active {
  opacity: 1;
  z-index: 2;
  transition: .5s ease;
}