$white: #ffffff;
$main: #68AD8B;
$black: #000;
$gray: #dadada;
$trash: #af111c;
$url: #A6DEEE;
$lightning: #fcc01e;
$header: #2e4753;
$greengradient1: #37ecba;
$greengradient2: #72afd3;


$clothes:#baffc9;
$electronics: #ffb3ba;
$toilet: #bae1ff;
$papework: #ffffba;


//// Media Queries ////

//Sizes

$big: 800px;

//Breakpoints
@mixin break-point($w) {
  @media only screen and (max-width: $w) { @content; }
}